*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: Catamaran, Arial; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #032222;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 8rem calc(100vh - 5vh) min-content minmax(25vw, 35vw) minmax(min-content, 35rem) 500px 15rem;
  grid-template-columns: [full-start] min-content repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) min-content [full-end]; }

.nav {
  display: grid;
  background-color: transparent;
  grid-column: full-start / full-end;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr); }
  .nav__logo {
    height: 11rem;
    width: 11rem;
    margin-left: 4rem;
    margin-top: -1rem; }
  .nav__list {
    float: right;
    display: grid;
    grid-template-columns: repeat(2, minmax(1rem, max-content));
    justify-content: center;
    align-items: center;
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    margin-right: 10rem;
    margin-top: -3rem; }
    .nav__list--item {
      padding: 3rem 2rem; }
    .nav__list--link {
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      font-weight: bold; }

.header {
  grid-column: full-start / full-end;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: -17rem;
  z-index: -1; }

.about {
  background-color: #fff;
  grid-column: full-start / full-end;
  padding: 2rem 20rem;
  margin-top: -1rem;
  font-size: 2rem; }
  .about__info {
    grid-column: col-start 2 / col-start 8; }
    .about__info--statement {
      text-align: center;
      padding: 4rem; }
    .about__info--name {
      float: right;
      margin-top: -2.5rem;
      margin-right: 2rem;
      font-style: italic;
      font-size: 1.8rem; }

.featured {
  background-color: #032222;
  grid-column: full-start / col-end 8;
  grid-row: 4 / 5;
  overflow: hidden; }
  .featured__box {
    background-color: #032222;
    grid-column: col-end 8 / -1; }
  .featured__title {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
    writing-mode: vertical-rl; }
  .featured__products--1 > img {
    width: 100%; }
  .featured__products--2 > img {
    width: 100%; }
  .featured__products--3 > img {
    width: 100%; }
  .featured__products--text {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin-top: 30%; }

.reviews {
  background-color: #032222;
  grid-column: col-start 1 / -1;
  grid-row: 5 / 6;
  background-color: #aeaeae; }
  .reviews__box {
    background-color: #032222;
    grid-column: full-start / col-start 1; }
  .reviews__title {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: 15rem; }

.images {
  background-color: goldenrod;
  grid-column: 1 / -1;
  grid-row: 6 / 7; }

.footer {
  background-color: #032222;
  grid-row: 7 / -1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between; }
  .footer__social {
    margin-right: 5rem;
    align-self: center; }
    .footer__social > a > img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      margin-right: 3rem; }
