*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: Catamaran, Arial; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #032222;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 8rem calc(100vh - 5vh) repeat(4, min-content) 10rem;
  grid-template-columns: [full-start] 1fr repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) 1fr [full-end]; }

.nav {
  display: grid;
  background-color: transparent;
  grid-column: full-start / full-end;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr); }
  .nav__logo {
    background-image: url("../../img/Ellipse 1.png");
    background-repeat: no-repeat;
    margin-left: 2rem;
    margin-top: 2rem; }
  .nav__list {
    float: right;
    display: grid;
    grid-template-columns: repeat(2, minmax(1rem, max-content));
    justify-content: center;
    align-items: center;
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    margin-right: 10rem;
    margin-top: -3rem; }
    .nav__list--item {
      padding: 3rem 2rem; }
    .nav__list--link {
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      font-weight: bold; }

.header {
  grid-column: full-start / full-end;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  width: 100%;
  margin-top: -17rem;
  z-index: -1; }

.about {
  background-color: #fff;
  grid-column: full-start / full-end;
  padding: 2rem 20rem;
  margin-top: -1rem;
  font-size: 2rem; }
  .about__info {
    grid-column: col-start 2 / col-start 8; }
    .about__info--name {
      float: right;
      margin-top: -2.5rem;
      margin-right: 2rem;
      font-style: italic;
      font-size: 1.8rem; }

.featured {
  background-color: #032222;
  grid-column: full-start / full-end; }
  .featured__title {
    color: #fff;
    font-size: 2.9rem;
    text-align: center;
    margin-top: 2rem; }
  .featured__products {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    padding: 10rem;
    grid-gap: 10rem;
    height: 500px; }
  .featured__product {
    color: #fff;
    text-align: center;
    font-size: 3rem; }
