body {
  text-align: center;
  height: 2000px;
}

div {
  border: 2px solid #333;
}

p {
  color: #cecece;
}

h1 {
  position: relative;
  color: #cecece;
}

.box {
  height: 200px;
  width: 200px;
  float: left;
  display: flex;
  margin-right: 5%;
  margin-bottom: 5%;
  margin: auto 0;
}

.content {
  width: 100%;
}

/* still an block level element that is floated left, area is still taken by 
the div area and background color is moved relative to that position */
.box1 {
  position: relative;
  top: 50px;
  left: 50px;
}

/* taken completely out of the flow of elements and fixed to the page */
.box2 {
  position: fixed;
  top: 100px;
  left: 100px;
}

/* position relative to the parent document, takes it out of the flow of the document */
.box3 {
  position: absolute;
  margin: 300px 300px;
}

.box4 {
  text-transform: uppercase;
  width: 200px;
  height: 200px;
  animation-name: example;
  animation-duration: 4s;
}

/* The animation code */
@keyframes example {
  from {
    background-color: red !important;
  }
  to {
    background-color: yellow;
  }
}
