.container {
  display: grid;
  grid-template-rows: 8rem calc(100vh - 5vh) repeat(4, min-content) 10rem;
  grid-template-columns:
    [full-start] 1fr repeat(8, [col-start] minmax(min-content, 18rem) [col-end])
    1fr [full-end];
}

.nav {
  display: grid;
  background-color: transparent;
  grid-column: full-start / full-end;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  &__logo {
    background-image: url("../../img/Ellipse 1.png");
    background-repeat: no-repeat;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  &__list {
    float: right;
    display: grid;
    grid-template-columns: repeat(2, minmax(1rem, max-content));
    justify-content: center;
    align-items: center;
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    margin-right: 10rem;
    margin-top: -3rem;

    &--item {
      padding: 3rem 2rem;
    }

    &--link {
      text-decoration: none;
      color: $color-white;
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
}

.header {
  grid-column: full-start / full-end;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  width: 100%;
  margin-top: -17rem;
  z-index: -1;
}

.about {
  background-color: $color-white;
  grid-column: full-start / full-end;
  padding: 2rem 20rem;
  margin-top: -1rem;
  font-size: 2rem;
  &__info {
    grid-column: col-start 2 / col-start 8;

    &--name {
      float: right;
      margin-top: -2.5rem;
      margin-right: 2rem;
      font-style: italic;
      font-size: 1.8rem;
    }
  }
}

.featured {
  background-color: $color-primary;
  grid-column: full-start / full-end;

  &__title {
    color: $color-white;
    font-size: 2.9rem;
    text-align: center;
    margin-top: 2rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem;
    grid-gap: 10rem;
    // give some temp height
    height: 500px;
  }

  &__product {
    color: $color-white;
    align-items: center;
    font-size: 3rem;
  }
}
