.featured__products--button {
  padding: 1rem 2rem;
  width: 100%;
  color: $color-white;
  font-size: 2.6rem;
  text-align: center;
  background-color: #7d8f8f;
  text-decoration: none;
  font-weight: 700;
  margin-top: 0.4rem;
  margin-left: 1.5rem;
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 01));
}

.btn {
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  color: $color-white;
  font-size: 2.6rem;
  text-align: center;
  background-color: #7d8f8f;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}
