.featured__products--button {
  padding: 1rem 2rem;
  width: 100%;
  color: $color-white;
  font-size: 2.6rem;
  text-align: center;
  background-color: #7d8f8f;
  text-decoration: none;
  font-weight: 700;
  margin-top: 0.4rem;
  margin-left: 1.5rem;
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 01));
  &:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }
}

.btn {
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  color: $color-white;
  font-size: 2.6rem;
  text-align: center;
  background-color: #7d8f8f;
  text-decoration: none;
  font-weight: 700;

  &__db {
    display: block;
    padding: 1rem 2rem;
    width: 100%;
    color: $color-white;
    font-size: 3.6rem;
    text-align: center;
    background-color: #7d8f8f;
    text-decoration: none;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
  }

  &-danger {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    align-self: flex-end;
    width: 15%;
    border: none;
    color: $color-white;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #800000;
  }

  &__checkout {
    display: block;
    padding: 2rem 1rem;
    width: 100%;
    color: $color-white;
    font-size: 3.6rem;
    text-align: center;
    background-color: #7d8f8f;
    text-decoration: none;
    font-weight: 700;
  }
}
