html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: serif;
  background-color: silver;
}

.nw-story {
  background-color: white;
}

.nw-story,
.nw-header,
.nw-footer {
  background-color: white;
}

.nw-story-body {
  padding: 1rem;
}

.nw-story img {
  max-width: 100%;
}
