.db {
  width: 85%;
  padding: 2rem;
  margin: 5rem auto;
  text-align: center;
  background-color: $color-primary-3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;

  &__all {
    width: 50%;
    margin: 0 auto;
  }
}
