<% include partials/header %>

  <h1>This is the champion page</h1>
  <h2>Your summoner name is :
    <%= data.name %>
  </h2>
  <h3>Your summoner level is :
    <%= data.summonerLevel %>
  </h3>
  <h3>Your summoner id is :
    <%= data.id %>
  </h3>
  <h3>Your summoner accountId is :
    <%= data.accountId %>
  </h3>

  <% include partials/footer %>