<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio</title>
  <link rel="stylesheet" href="../pf-base.css">
  <link rel="stylesheet" href="pf-grid.css">
</head>

<body>
  <div class="pf-container">

    <div class="pf-sidebar">
      <h1>Hi There!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, fugit.</p>
    </div>
    <div class="pf-content">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil voluptatem quasi excepturi labore, qui ipsam nisi temporibus
        vero facere a minus magnam, accusamus animi delectus nesciunt consectetur non, laboriosam reiciendis odit. Deleniti
        nobis tenetur laudantium. Enim quod cum corrupti molestias incidunt, sequi odit eligendi suscipit voluptatibus, exercitationem
        illum dignissimos hic laborum, tenetur maxime ratione dolore odio veritatis vel? Odio, repellat.
      </p>
      <h1>Servies</h1>
      <div class="pf-grid">
        <div class="pf-grid-item">
          <h1>Consulting</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa aspernatur accusamus labore, nisi delectus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="pf-grid-item">
          <h1>Training</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa aspernatur accusamus labore, nisi delectus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="pf-grid-item">
          <h1>Speaking</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa aspernatur accusamus labore, nisi delectus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="pf-grid-item">
          <h1>Writing</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa aspernatur accusamus labore, nisi delectus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="pf-grid-item">
          <h1>Programming</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa aspernatur accusamus labore, nisi delectus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="pf-grid-item">
          <h1>Editing</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa aspernatur accusamus labore, nisi delectus.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
</body>

</html>