.container {
  background-color: #ebe4da;
  height: 500px;
}

/* .mid-container {
  border-radius: 4px;
  background-color: #ebe4da;
  height: 50px;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.07), -6px -6px 9px rgb(240, 236, 229);
} */

.circle {
  border-radius: 50%;
  background-color: #eee;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 9px rgba(255, 255, 255, 1),
    -6px -6px 9px rgba(0, 0, 0, 0.07);
}

.circle2 {
  border-radius: 50%;
  background-color: #eee;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  box-shadow: inset 6px 6px 9px rgba(0, 0, 0, 0.07),
    inset -6px -6px 9px rgba(255, 255, 255, 1);
}

.circle3 {
  border-radius: 50%;
  background-color: #eee;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  box-shadow: -6px -6px 9px rgba(255, 255, 255, 1),
    6px 6px 9px rgba(0, 0, 0, 0.07), inset 6px 6px 9px rgba(0, 0, 0, 0.07),
    inset -6px -6px 9px rgba(255, 255, 255, 1);
}

.circle4 {
  border-radius: 50%;
  background-color: #eee;
  color: #aaa;
  text-align: center;
  font-family: arial;
  height: 2rem;
  width: 2rem;
  position: absolute;
  border: 1px solid #eee;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  box-shadow: -6px -6px 9px rgba(255, 255, 255, 1),
    6px 6px 9px rgba(0, 0, 0, 0.07), inset -6px -6px 9px rgba(0, 0, 0, 0.07),
    inset 6px 6px 9px rgba(255, 255, 255, 1);
}

.circle5 {
  border-radius: 50%;
  background-color: #eee;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  box-shadow: inset 6px 6px 9px rgba(255, 255, 255, 1),
    inset -6px -6px 9px rgba(0, 0, 0, 0.07);
}

.circle6 {
  border-radius: 50%;
  background-color: #eee;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 9px rgba(255, 255, 255, 1),
    -6px -6px 9px rgba(0, 0, 0, 0.07), inset 6px 6px 9px rgba(255, 255, 255, 1),
    inset -6px -6px 9px rgba(0, 0, 0, 0.07);
}

.button {
  color: #aaa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #eee;
  height: 80%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.05),
    -6px -6px 9px rgba(255, 255, 255, 1);

  &:active {
    outline: none;
    transform: translate(-50%, -45%);
  }
}
