:root {
  --duration: 1;
}

$color-primary: #886a4a;
$color-primary-light: #e3874f;
$color-primary-dark: #584735;
$color-primary-dark-2: #382f26;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$color-grey-medium-1: #37363d;
$color-grey-light-1: #707070;
$color-grey-light-2: #cecece;
$color-grey-light-3: #eee;

$color-white: #fff;
$color-black: #000;

$font-display: "Inknut Antiqua";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-white;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.body-container {
  width: 75%;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  margin: 0 auto;
}
