$color-primary: #886a4a;
$color-primary-light: #e3874f;
$color-primary-dark: #584735;

$color-grey-dark-1: #333;
$color-grey-medium-1: #37363d;
$color-grey-light-1: #707070;
$color-grey-light-2: #cecece;

$color-white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
