<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSS Times</title>
  <link rel="stylesheet" href="../nw-base.css">
  <link rel="stylesheet" href="nw-flex.css">
</head>

<body>
  <div class="nw-container">
    <div class="nw-header">
      <h1>The CSS Times</h1>
    </div>

    <div class="nw-content">
      <div class="nw-story">
        <img src="http://placekitten.com/1200/400" alt="">
        <div class="nw-story-body">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit et dolores in exercitationem architecto eum? Minus
            officia laborum sequi, quos omnis blanditiis ipsa et architecto libero facere non labore commodi eaque earum
            tempora reprehenderit ipsam fuga laboriosam nostrum distinctio exercitationem culpa, adipisci repellendus. Tempora,
            suscipit! Non voluptates beatae porro voluptas.</p>
        </div>
      </div>

      <div class="nw-story nw-story-half">
        <img src="http://placekitten.com/1200/511" alt="">
        <div class="nw-story-body">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque illo, excepturi officiis libero ab incidunt
            vero nobis dignissimos nihil obcaecati repellat harum quam! Veniam animi quasi sint. Molestias, nesciunt!</p>
        </div>

      </div>

      <div class="nw-story nw-story-half">
        <img src="http://placekitten.com/1200/700" alt="">
        <div class="nw-story-body">
          <h1>doloremque illo, excepturi officiis</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque illo, excepturi officiis libero ab incidunt
            vero nobis dignissimos nihil obcaecati repellat harum quam! Veniam animi quasi sint. Molestias, nesciunt!</p>
        </div>

      </div>

      <div class="nw-story nw-story-third">
        <img src="http://placekitten.com/1200/500" alt="">
        <div class="nw-story-body">
          <h1>vero nobis dignissimos nihil obcaecati repellat</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque illo, excepturi officiis libero ab incidunt
            vero nobis dignissimos nihil obcaecati repellat harum quam! Veniam
        </div>
        animi quasi sint. Molestias, nesciunt!</p>
      </div>

      <div class="nw-story nw-story-third">
        <img src="http://placekitten.com/1200/500" alt="">
        <div class="nw-story-body">
          <h1>vero nobis dignissimos nihil obcaecati repellat</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque illo, excepturi officiis libero ab incidunt
            vero nobis dignissimos nihil obcaecati repellat harum quam! Veniam
        </div>
        animi quasi sint. Molestias, nesciunt!</p>
      </div>

      <div class="nw-story nw-story-third">
        <img src="http://placekitten.com/1200/500" alt="">
        <div class="nw-story-body">
          <h1>vero nobis dignissimos nihil obcaecati repellat</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque illo, excepturi officiis libero ab incidunt
            vero nobis dignissimos nihil obcaecati repellat harum quam! Veniam
        </div>
        animi quasi sint. Molestias, nesciunt!</p>
      </div>
    </div>

    <div class="nw-sidebar">


      <div class="nw-story">
        <img src="http://placekitten.com/1200/600" alt="">
        <div class="nw-story-body">
          <div class="nw-article-body">
            <h1>harum quam! Veniam</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque illo, excepturi officiis libero ab
              incidunt vero nobis dignissimos nihil obcaecati repellat harum quam! Veniam animi quasi sint. Molestias, nesciunt!</p>
          </div>
        </div>

      </div>

      <div class="nw-story">
        <div class="nw-story-body">
          <h1>Cats</h1>
          <p>Welcome your overlords.</p>
        </div>
      </div>

      <div class="nw-story">
        <div class="nw-story-body">
          <h1>Weather</h1>
          <p>It's cold, yo.</p>
        </div>
      </div>

      <div class="nw-story">
        <div class="nw-story-body">
          <h1>Sports</h1>
          <p>Everybody gets a trophy!</p>
        </div>
      </div>
    </div>

    <div class="nw-footer">
      <div class="nw-bottom-nav">
        <h1>News</h1>
        <ul>
          <li>World</li>
          <li>News</li>
          <li>Politics</li>
          <li>Education</li>
          <li>Gaming</li>
          <li>Health</li>
          <li>Education</li>
        </ul>
      </div>

      <div class="nw-bottom-nav">
        <h1>Opinion</h1>
        <ul>
          <li>Today's Opinion</li>
          <li>Op-Ed Columnists</li>
          <li>Contributing Writers</li>
          <li>Opinionator</li>
          <li>Letters</li>
          <li>Sunday Review</li>
          <li>Taking Notes</li>
        </ul>
      </div>

      <div class="nw-bottom-nav">
        <h1>Art</h1>
        <ul>
          <li>Today's Arts</li>
          <li>Art & Design</li>
          <li>Books</li>
          <li>Dance</li>
          <li>Movies</li>
          <li>Music</li>
          <li>Television</li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>