<header class="header">
    <div class="container">
        <div class="row">
            <div id="header__bar" class="header__bar col-xs-12">
                    <a href="#" class="header__logo">Home</a>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-links"><a href="#">Blog</a></li>
                        <li class="header__nav-links"><a href="#">About</a></li>
                        <li class="header__nav-links"><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
