.app-message {
  display: flex;
}

.app-message-content {
  flex: 1;
}

.app-contacts,
.app-chats {
  height: 100vh;
  overflow: scroll;
}

/* small screens */
@media only screen and (max-width: 901px) {
  .app-chats {
    display: none;
  }
}

/* large screens */
@media only screen and (min-width: 900px) {
  .app-container {
    display: flex;
  }

  .app-contacts {
    flex: 1;
    border-right: 1px solid silver;
  }

  .app-chats {
    flex: 2;
  }

  .app-chat-header {
    min-height: 5rem;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-message-active {
    background-color: silver;
  }
}
