<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat</title>
  <link rel="stylesheet" href="../app.base.css">
  <link rel="stylesheet" href="app-flex.css">
</head>

<body>
  <div class="app-container">
    <div class="app-contacts">
      <div class="app-message">
        <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
        <div class="app-message-content">
          <div class="app-sender">
            Rahul
          </div>
          <div class="app-message-text">Hey, want to watch Star Wars tonight?</div>
        </div>
        <div class="app-timestamp">11:22AM</div>
      </div>
      <div class="app-message app-message-active">
        <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
        <div class="app-message-content">
          <div class="app-sender">
            Jimmy
          </div>
          <div class="app-message-text">I don't remember the last time that happened, I will have to look into it.</div>
        </div>
        <div class="app-timestamp">11:00PM</div>
      </div>
      <div class="app-message">
        <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
        <div class="app-message-content">
          <div class="app-sender">
            Jackie
          </div>
          <div class="app-message-text">We did, then they were back in like 2 seconds...</div>
        </div>
        <div class="app-timestamp">01:17PM</div>
      </div>
      <div class="app-message">
        <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
        <div class="app-message-content">
          <div class="app-sender">
            Mellisa
          </div>
          <div class="app-message-text">Then and back again, I think that is what it's called.</div>
        </div>
        <div class="app-timestamp">05:01PM</div>
      </div>
      <div class="app-message">
        <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
        <div class="app-message-content">
          <div class="app-sender">
            Billy Boy
          </div>
          <div class="app-message-text">OK, I'll make sure we are there.</div>
        </div>
        <div class="app-timestamp">11:10PM</div>
      </div>
      <div class="app-message">
        <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
        <div class="app-message-content">
          <div class="app-sender">
            Chappy
          </div>
          <div class="app-message-text">HAHAHAHA, good one!</div>
        </div>
        <div class="app-timestamp">02:17AM</div>
      </div>
    </div>
    <div class="app-chats">
      <div class="app-chat-header">
        <span>Rahul</span>
      </div>

      <div class="app-chat-content">
        <div class="app-message">
          <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
          <div class="app-message-content">
            <div class="app-sender">
              Rahul
            </div>
            <div class="app-message-text">Hey, want to watch Star Wars tonight?</div>
          </div>
          <div class="app-timestamp">11:22AM</div>
        </div>
        <div class="app-message">
          <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
          <div class="app-message-content">
            <div class="app-sender">
              Chappy
            </div>
            <div class="app-message-text">HAHAHAHA, good one!</div>
          </div>
          <div class="app-timestamp">02:17AM</div>
        </div>
        <div class="app-message">
          <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
          <div class="app-message-content">
            <div class="app-sender">
              Jackie
            </div>
            <div class="app-message-text">We did, then they were back in like 2 seconds...</div>
          </div>
          <div class="app-timestamp">01:17PM</div>
        </div>
        <div class="app-message">
          <img class="app-avatar" src="http://placekitten.com/150/150" alt="">
          <div class="app-message-content">
            <div class="app-sender">
              Billy Boy
            </div>
            <div class="app-message-text">OK, I'll make sure we are there.</div>
          </div>
          <div class="app-timestamp">11:10PM</div>
        </div>



      </div>
    </div>
  </div>
</body>

</html>