.nw-story,
.nw-header {
  margin-bottom: 1rem;
}

.nw-header {
  text-align: center;
}

.nw-footer ul {
  list-style: none;
  padding: 0;
}

.nw-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* small display */
@media only screen and (max-width: 900px) {
  .nw-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 901px) {
  .nw-container {
    display: flex;
    flex-wrap: wrap;
  }

  .nw-header,
  .nw-footer {
    width: 100%;
  }

  .nw-content {
    flex: 2;
    margin-right: 1rem;
    margin-left: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nw-story-half {
    width: 48%;
  }

  .nw-story-half + .nw-story-half,
  .nw-story-third + .nw-story-third {
    margin-left: 1rem;
  }

  .nw-story-third {
    width: 30%;
  }

  .nw-sidebar {
    margin-right: 1rem;
    flex: 1;
  }
}
